
.FormArray{
  padding: 18px 12px 0 12px;
  :global{
    .ant-form-item{
      margin-bottom: 12px;
    }
  }
  .colDom{
    :global{

    }
  }
}
.spd{
  padding: 0;
  :global{
    .ant-form-item{
      margin-bottom: 6px;
    }
    .ant-tag, .ant-tag a, .ant-tag a:hover {
      color: #84d945;
    }
}
}

.FieldList{
  @height: 30px;
  padding-right: 10px;
  padding-left: 10px;
  .colOut{
    padding: 10px;
    .group{
      border: 1px solid #eee;
      height: 30px;
    }
    .name{
      background-color: #eee;
      text-align: center;
      font-size: 14px;
      color: #3a3a3a;
      height: 100%;
      line-height: @height;
    }
    .discrib{
      padding-left: 5px;
      font-size: 12px;
      letter-spacing: .1px;
      color: #3a3a3a;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 100%;
      line-height: @height;
    }
  }

}

.FieldListWithoutBg{
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  @height: 15px;
  .withoutBgcolOut{
    padding: 10px;
    .withoutBgGroup{
      height: @height;
    }
    .withoutBgName{
      font-size: 14px;
      color: #666;
      height: 100%;
      line-height: @height;
      div{
        text-align: right;
      }
      div:after {
        content: " ";
        display: inline-block;
        width: 100%;
      }
    }
    .withoutBgDiscrib{
      padding-left: 12px;
      font-size: 14px;
      letter-spacing: .1px;
      color: #555;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 100%;
      line-height: @height;
    }
  }
}
.shell{
  margin-top:20px;
  .row {
    background-color: rgba(255,255,255,1);;
  }
}

.blockTitle{
  border-bottom: 1px solid #ccc;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  font-size:18px;
  color:#333;
  font-weight:bold;
  cursor: default;
  position: relative;

  &.isSmall{
    font-size: 14px;
    height: 36px;
    padding: 0 30px;
    border-bottom: 1px solid #eee;
  }
}

.CardDiy {
  :global {
    .ant-card-head {
      min-height: 40px;
      height: 40px;
      font-size:14px;
      padding: 0;
    //  padding: 13px 0px 12px 14px;
      color:rgba(51,51,51,1);
    }
    .ant-card-head-wrapper{
      display: flex;
      line-height: 40px;
      height: 40px;
      padding-left: 12px;
      align-items: center;
    }
    .ant-card-extra{
      padding-right: 12px;
    }
    .ant-card-body{
      padding: 0;
      span{
        height:40px;
        p{
          padding-left: 24px;
          border-bottom: 1px solid #e8e8e8;
          line-height:40px;
          margin-bottom: 0;
        }
      }
    }
  }
  .handMouse{
    cursor: pointer;
  }
}

.NormalTable{
  @TableThemeColor: #5e9ede;
  @TableThemeBgColor: #e6f7ff;
  padding: 6px 12px 0 12px;
  :global{

    .ant-table-thead > tr > th{
      padding: 0 12px;
      height: 50px;
      color: rgba(0,0,0,.65);
      background-color: #e9f2fb;
    }
    .ant-table-content{
      min-height: 500px;
    }
    p{
      margin-bottom: 0 !important;
    }
    a{
      color: @TableThemeColor;
    }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
      padding: 10px 16px;
    }
    .ant-pagination-item-active, .ant-pagination-item:focus, .ant-pagination-item:hover{
      border-color: @TableThemeColor;
    }
    .ant-pagination-options-quick-jumper input:focus{
      border-color: @TableThemeColor;
      box-shadow: 0 0 0 2px @TableThemeBgColor;
    }
    .ant-pagination-options-quick-jumper input:hover{
      border-color: @TableThemeColor;
    }
    .ant-pagination-item:focus a, .ant-pagination-item:hover a{
      color:@TableThemeColor;
    }
    .ant-pagination-item-active:focus a, .ant-pagination-item-active:hover a{
      color:@TableThemeColor;
    }
    .ant-checkbox-checked .ant-checkbox-inner{
      background-color: @TableThemeColor;
      border-color: @TableThemeColor;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner{
      border-color:@TableThemeColor;
    }
    ::selection{
      background: @TableThemeColor;
    }
    .ant-checkbox-indeterminate .ant-checkbox-inner:after{
      background: @TableThemeColor;
    }
    tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td{
      background: @TableThemeBgColor;
    }
    .ant-pagination{
      width: 100%;
      text-align: center;
      padding-top: 20px;
    }
  }
}


.ButtonDiy{
  @blue: rgba(25,152,240,1);
  @white: rgba(255,255,255,1);
  @red: #F14B5A;
  padding-right: 12px;
  button{
    height:30px;
  }
  .primaryBlue{
    font-size:14px;
    font-weight:400;
    color:@white;
    height:30px;
    background:@blue;
    border-radius:2px;
    border-color:@blue;
    &:hover,&:active,&:focus{
      background:@blue;
      color:@white;
      border-color:@white;
    }

    &:disabled {
      color: rgba(0, 0, 0, 0.25);
      background-color: #f5f5f5;
      border-color: #d9d9d9;
    }
  }
  .primaryRed{
    font-size:14px;
    font-weight:400;
    color:@white;
    height:30px;
    background:@red;
    border-radius:2px;
    border-color:@red;
    &:hover,&:active,&:focus{
      background:@red;
      color:@white;
      border-color:@white;
    }
  }
  .defaultBlue{
    font-size:14px;
    font-weight:400;
    color:@blue;
    height:30px;
    background:@white;
    border-radius:2px;
    border-color:@blue;
    &:hover,&:active,&:focus{
      background:@white;
      color:@blue;
      border-color:@blue;
    }
  }
  .defaultRed{
    font-size:14px;
    font-weight:400;
    color:@red;
    height:30px;
    background:@white;
    border-radius:2px;
    border-color:@red;
    &:hover,&:active,&:focus{
      background:@white;
      color:@red;
      border-color:@red;
    }
  }

}

.collegeTitle{
  color: #333;
  font-size: 18px;
  text-align: center;
  padding-bottom: 74px;
  font-weight: 600;


}
.collegeStyle{
  // width: 100%;
  :global{
    .ant-col-2{
      width: 10%;
      text-align: center
    }
  }
}

.colStyle{
  color: #4992DF
}
.colStyle:hover{
   background: green
}
.picName{
  padding-left: 57px;
  padding-top: 10px;
}

.modalDiy{
  :global{
    .ant-modal-title {
      text-align: center;
      font-size: 16px;
      font-family: MicrosoftYaHei-Bold;
      font-weight: bold;
      color: rgba(51, 51, 51, 1);
    }
  }

}

/*:global{
  .cls-2{
    cursor: pointer !important;
  }
}*/



.searchChangeMaintain{
  margin-bottom: 0;
  padding-top: 15px;
  :global{
    .ant-form-item-control{
      line-height: 20px;
    }
  }
}

.exportModal {
  :global{
    .ant-modal-body{
      padding: 12px;
    }
    .ant-form-item{
      margin-bottom: 0;
    }
    .ant-form-item-label{
      text-align: left;
    }
  }
}
.DescriptionContext {
  width: 98%;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-word;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: black;
  background-color: white;
}

.Editable{
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 4px 11px;
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all .3s;
  &:hover{
    border-color: #29a6ff;
    border-right-width: 1px !important;
  }
}

.editorLayout {
  line-height: normal;

  :global{
    .ql-container{
      height: 400px;
    }
  }
}

// 新闻列表
.horizonWrap {
  margin-top: 20px;
  .item{
    margin-bottom: 20px;
    cursor: pointer;
    .itemInner{
      transition: all .3s linear;
      background-color: #fff;
      height: 110px;
      padding: 20px;
      overflow: hidden;
      display: flex;
      &:hover{
        box-shadow: 0px 7px 8px -4px rgba(0,0,0,0.2), 0px 12px 17px 2px rgba(0,0,0,0.14), 0px 5px 20px 4px rgba(0,0,0,0.12) !important;
      }
      .left{
        flex:0 0 70px;
        height: 70px;
        background-color: rgb(132,192,240);
        position: relative;
        font-size: 26px;
        color: #fff;
        font-weight: 600;
        span{
          display: inline-block;
          position: absolute;
          top: 0px;
          left: 5px;
          &:last-child{
            top: auto;
            right: 5px;
            bottom: 0;
            left: auto;
          }
        }
        &::before{
          content: '';
          width: 70px;
          height: 1px;
          background-color: #fff;
          transform: rotateZ(-45deg);
          display: block;
          position: absolute;
          top: 34px;
          left: 0px;
        }
      }
      .right{
        padding-left: 20px;
        flex:1;
        overflow: hidden;
        .title{
          font-weight: 600;
          color: #333;
          font-size: 22px;
          line-height: 1;
          margin-bottom: 10px;
        }
        .content{
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          font-size: 14px;
          line-height: 20px;
          /* autoprefixer: off*/
          -webkit-box-orient: vertical;
          /* autoprefixer: on*/
        }
      }
    }
  }
}

.PieChart{
  :global{
    .pie-stat{
      padding-top: 10px;
    }
  }
}

.ListTab{
  :global{
    .ant-tabs-bar{
      margin-bottom: 0px;
    }
  }
}


.customMultiple{
  .multipleBox{
    width: 100%;
    height: 150px;
    border:1px solid rgba(210,210,210,1);
    border-radius:6px;
    overflow: auto;
    background: white;

    .multipleItem{
      padding: 5px 10px;
      cursor: pointer;
      line-height: 1.5;

      &:hover{
        transition: all .3s linear;
        background: #E9F2FB;
      }

      &.active{
        background: #008DFF;
        color: white;
      }
    }

  }
  .operationBtnBox{
    display: flex;
    flex-direction: column;
    justify-content: center;

    >span{
      margin-bottom: 10px;
      line-height: 1;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

